<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.youtube.com/watch?v=udX6y-FB3vU">The Complete Ruby on Rails Developer</a>
      by <a href="https://www.youtube.com/watch?v=Xn7rIarpQBk">God</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to 'About',about_path %></li>
      </ul>
    </nav>
  </footer>
</div>

